
.header__inner{
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__ttl{
  display: inline-block;
  color: #000080;
  font-size: 25px;
  font-weight: bold;
}

li{
  display: inline-block;
  margin-left: 20px;
}

a{
  text-decoration: none;
  color: #000080;
  font-weight: bold;
}

main{
  box-sizing: border-box;
  padding-bottom: 20px;
}

.image{
  display: flex;
  justify-content: right;
}

img{
  width: 50%;
  margin: 50px 0 0 auto;
}

.left{
  margin-top: -180px;
}

.main__box{
  width: 75%;
  height: 200px;
  background-color: #000080;
  z-index: -1;
  margin: 0;
}

.main__copy{
  font-size: 70px;
  margin: 0;
  line-height: 70px;
}